<table>
  <tbody>
      <%= simple_form_for @reservation do |f| %>
      <tr>
        <td><%= f.input :last_name %></td>
        <td><%= f.input :no_people%></td>
        <td><%= f.input :email %></td>
        <td><%= f.input :datetime, as: :datetime %></td>
        <td><%= f.input :restourant_id, as: :hidden%></td>
      </tr>
  </tbody>
</table>

<%= show_simple_captcha %>
<%= f.button :submit %>

<% end %>
