<table>
  <thead>
    <tr>
      <th width="200">Reservation Name</th>
      <th width="200">No of people</th>
      <th width="200">Email</th>
      <th width="200">Date time</th>
      <th width="200">Restourant Name</th>
    </tr>
  </thead>
  <tbody>
      <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.last_name %></td>
        <td><%= reservation.no_people %></td>
        <td><%= reservation.email %></td>
        <td><%= reservation.datetime %></td>
        <td><%= link_to reservation.restourant.name, restourant_path(reservation.restourant) %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<%= link_to 'Back', restourants_path %>
