<table>
  <tbody>
      <%= simple_form_for @restourant do |f| %>
      <tr>
        <td><%= f.input :name %></td>
        <td><%= f.input :description%></td>
        <td><%= f.input :address, as: :string %></td>
        <td><%= f.input :phone %></td>
        <td><%= f.button :submit %></td>
      <% end %>
      </tr>
  </tbody>
</table>
