<div class= 'restourant_details'>
  <h2><%= @restourant.name %></h2><br>
  <small><%= @restourant.description%></small><br>
  <address><%= @restourant.address %></address>
  <abbr title="Phone">P: </abbr><%= @restourant.phone %>
</div>

<% if @owner %>
    <%= link_to "Edit", edit_restourant_path(@restourant),
        class: 'btn btn-warning' %>
    <%= link_to "Remove", @restourant,
        method: :delete,
        class: 'rate_it_btn btn btn-danger',
        data: { confirm: "Are you sure?" } %>
<% else %>
    <%= link_to "Reserve",
        new_reservation_for_restourant_path(restourant_id: @restourant.id),
        class: 'btn btn-success'%>
<% end %>

<% if @ratable %>
    <div class='ratings'>
      <%= link_to "rate 1", rate_restourant_path(@restourant, 1),
          class: 'rate_it_btn btn btn-warning' %>
      <%= link_to "rate 2", rate_restourant_path(@restourant, 2),
          class: 'rate_it_btn btn btn-warning' %>
      <%= link_to "rate 3", rate_restourant_path(@restourant, 3),
          class: 'rate_it_btn btn btn-warning' %>
      <%= link_to "rate 4", rate_restourant_path(@restourant, 4),
          class: 'rate_it_btn btn btn-warning' %>
      <%= link_to "rate 5", rate_restourant_path(@restourant, 5),
          class: 'rate_it_btn btn btn-warning' %>
    </div>
<% end %>

<div id='map'>
  <img src = "https://maps.googleapis.com/maps/api/staticmap?size=480x480&markers=icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon%26chld=restaurant%257C996600%7C224<%= @restourant.address %>" >
</div>
