<table>
  <thead>
    <tr>
      <th width="200">Restourant Name</th>
      <th width="200">Description</th>
      <th width="150">Address</th>
      <th width="150">Phone</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @restourant.name %></td>
        <td><%= @restourant.description %></td>
        <td><%= @restourant.address %></td>
        <td><%= @restourant.phone %></td>
        <td><%= link_to "Edit", edit_restourant_path(@restourant) %></td>
        <td><%= link_to "Remove", @restourant, method: :delete,
                                data: { confirm: "Are you sure?" } %></td>
        <td><%= link_to "Make a new reservation",
                          new_reservation_for_restourant_path(restourant_id:@restourant.id)%></td>

      </tr>
  </tbody>
</table>


<div>
<img src = "https://maps.googleapis.com/maps/api/staticmap?size=480x480&markers=icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon%26chld=restaurant%257C996600%7C224<%= @restourant.address %>" >
</div>
